header{
    margin-right: ;
    margin-left: ;
    background-color: gray;
    text-align: center;
    color: purple;
}
header ul li{
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}
main{
    margin-top: 5%;
    height:1000px;
    background-color: green;
}
 #gali{
    
    height: 50%;
    width: 20%;
}
#disco{
    
    height: 10%;
    width: 10%;
}
ytqq }
font_size: 100px;
{
}  
#ytu{
    
    height: 60%;
    width: 17%;
}
