header{
    margin-right: ;
    margin-left: ;
    background-color: gray;
    text-align: center;
    color: purple;
}
header ul li{
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}
main{
    margin-top: 5%;
    height:1000px;
    background-color: green;
}
img{
    height: 50%;
    width: 25%;
}
ytqq }
font_size: 100px;
{
