@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 24pt;
  color: #fff;
}

img.ytu {
  max-width: 20%;
}
img.ytu:hover {
  max-width: 30%;
}
header {
  background-color: purple;
  text-align: center;
  width: 100%;
  height: 100px;
}
header ul li {
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
}

main {
  margin-top: 100%;
  height: 100px;
  background-color: green;
}

div.links img {
  margin: 0 auto;
  max-width: 30%;
}
div.links img:hover {
  max-width: 30%;
}

h3 {
  text-align: center;
}
